**/.idea/workspace.xml 
**/.idea/tasks.xml
**/.pytest_cache/
**/automator/__pycache__/
**/data/__pycache__/
**/tests/__pycache__/

**/data/buscapoemas/
**/data/amediavoz/
**/automator/poemas/

**/data/verse_list.csv
**/data/verses.txt
**/data/raw_verses.txt
**/tests/testing_clean.py
